@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to UEF University</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to UEF University</h2>
        <p>
            UEF University is a sample application that demonstates how to use Entity Framework 6 in an ASP.NET MVC 5 web application
        </p>
        <p><a class="btn btn-default" href="https://uef.edu.vn/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scarch</h2>
        <p>You can learn how to build by following the steps in the tourial series on the ASP.NET site.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project.</p>
        <p><a class="btn btn-default" href="https://github.com/nguyendt-tn/StudentLAB">Learn more &raquo;</a></p>
    </div>
</div>